body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #444;
    color: white;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #666;
    padding: 10px 15px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #555;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.schedule {
    margin-bottom: 40px;
}

h2 {
    background-color: #444;
    color: white;
    padding: 15px;
    border-radius: 4px;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 20px;
    border: 2px solid #ddd;
    text-align: left;
    font-size: 20px;
}

th {
    background-color: #eee;
    font-size: 22px;
}

.time {
    width: 20%;
    font-weight: bold;
}

select {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
}

button {
    padding: 10px 16px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
}

button:hover {
    background-color: #333;
}

tbody tr {
    margin-bottom: 20px;
}

.schedule td {
    height: 80px; /* Aumenta la altura de las celdas */
    vertical-align: middle;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #444;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
